<div class="row vibration-page">
  <div class="col-xs-12">
    <div class="row m-t-25">
      <div class="col-xs-12 text-center">
        <div class="btn btn-default in-block m-r-10 f11 p-5-10 axis-{{tab.axis}}" ng-click="showVibrations(tab.axis)" ng-repeat="tab in tabs" ng-class="{'active': tab.visibility}"><span class="sm-circle circle-{{tab.axis}}"></span> Vibration {{tab.axis}}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <line-graph tabs="tabs"></line-graph>
      </div>
    </div>
  </div>
</div>

