/******************************************************************

Variables

******************************************************************/

$black:             #231f20;
$white:             #fff;
$green:             #5cc35c;
$yellow:            #fbd51d;
$red:               red;
$blue:              #15b0de;

$light-gray:        #f8f9fa;
$gray:              #eaedf2;
$text-color:        #5c6b80;

$link-color:        $black;
$link-hover:        darken($link-color, 9%);

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;
$alert-red:					red;
$alert-green:				#645564;
$alert-blue:				blue;
