<!-- Main navigation -->
<header class="header" role="banner" itemscope itemtype="http://schema.org/WPHeader">
    <div id="inner-header" class="wrap container cf">
        <!-- logo -->
        <h1 id="logo" class="text-hide h1 pull-left" itemscope itemtype="http://schema.org/Organization">
            <a href="#/" rel="nofollow"><img src="" alt=""></a>
        </h1>
        <!-- hamburger icon -->
        <responsive-nav></responsive-nav>
        <!-- nav -->
        <nav role="navigation" class="main-nav text-center" itemscope itemtype="http://schema.org/SiteNavigationElement">
            <ul class="menu cf">
              <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
              <li ui-sref-active="active"><a ui-sref="vibrations">Block Builder</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="responsive-wrapper">
    <ul class="cf responsive-nav option-set">
        <li><a href="#/home">Home</a></li>
        <li><a href="#/vibrations">Vibrations</a></li>
    </ul>
</div>
