/******************************************************************

Site Name: AngularJS Boilerplate
Code: Jozef Butko - jozefbutko.com/resume
Date: Mar 2015

******************************************************************/

// normalize: http://necolas.github.io/normalize.css/
@import "partials/normalize";

// Sass variables
@import "partials/variables";

// Helpers
@import "partials/helpers";

// typography
@import "partials/typography";

// Sass functions
@import "partials/functions";

// import mixins
@import "partials/mixins";

// the grid
@import "partials/grid";

/*********************
IMPORTING MODULES
*********************/

// alert boxes
@import "modules/alerts";

// buttons
@import "modules/buttons";

// forms (inputs & labels)
@import "modules/forms";

/*********************
BASE (MOBILE) SIZE
*********************/

// styles in base.scss
@import "breakpoints/base";


/*********************
LARGER MOBILE DEVICES
*********************/
@media only screen and (min-width: 481px) {

	// styles in 481up.scss
	@import "breakpoints/481up";

} // end of media query

/*********************
TABLET & SMALLER LAPTOPS
*********************/
@media only screen and (min-width: 768px) {

	// styles in 768up.scss
	@import "breakpoints/768up";

} // end of media query

/*********************
DESKTOP
*********************/
@media only screen and (min-width: 1030px) {

	// styles in 1030up.scss
	@import "breakpoints/1030up";

} // end of media query

/*********************
LARGE VIEWING SIZE
*********************/
@media only screen and (min-width: 1240px) {

	// styles in 1240up.scss
	@import "breakpoints/1240up";

} // end of media query

/*********************
RETINA (2x RESOLUTION DEVICES)
*********************/
// @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
//        only screen and (min--moz-device-pixel-ratio: 1.5),
//        only screen and (min-device-pixel-ratio: 1.5) {

// 	// styles in 2x.scss
// 	@import "breakpoints/2x";

// } // end of media query

/*********************
PRINT STYLESHEET
*********************/
@media print {

	// styles in print.scss
	@import "partials/print";

}

 body {
    font: 10px sans-serif;
}
.plot {
    fill: rgba(250, 250, 255, 0.6);
}
.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
    stroke-width: 0;
}
.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.x.axis path {
    display: none;
}
.line {
  fill: none;
  stroke-width: 1.5px;
  &.color-x{
    stroke: $green;
  }
  &.color-y{
    stroke: $yellow;
  }
  &.color-z{
    stroke: $blue;
  }
}

.focus circle {
  fill: #F1F3F3;
  stroke: #6F257F;
  stroke-width: 3px;
}

.hover-line {
  stroke: #6F257F;
  stroke-width: 2px;
  stroke-dasharray: 3,3;
}

.circle-x{
  background-color: $green;
}
.circle-y{
  background-color: $yellow;
}
.circle-z {
  background-color: $blue;
}

.vibration-page{
  .btn-default{
    &.active{
      color: white !important;
      font-weight: bold;
      box-shadow: none;
      .sm-circle{
        background-color: white !important;
      }
      &.axis-x{
        background-color: $green !important;
      }
      &.axis-y{
        background-color: $yellow !important;
      }
      &.axis-z{
        background-color: $blue !important;
      }
    }
  }
}

.home-page{
  padding-top: 150px;
  h2{
    font-size: 65px;
    font-weight: bold;
    margin: 0 !important;
  }
  h3{
    font-size: 20px;
    margin: 0 !important;
  }
}




